<div id="burger-menu-button" class="burger-menu">
    <i class="fa-solid fa-bars"></i>
</div>

<div id="menuBurger-container" class="menuBurger-container" style="display: none;">
    <div id="close-menu-burger" class="close-menu-burger"><i class="fa-solid fa-xmark"></i></div>

    <div id="checks-abm" class="menuBurger-container__item">
        <a href="/" class="menuBurger-container__link">
            <i class="fa-solid fa-money-check-dollar"></i>
            Checks
        </a>
    </div>

    <div id="enterprises-abm" class="menuBurger-container__item">
        <a href="/enterprises/abm" class="menuBurger-container__link">
            <i class="fa-solid fa-house"></i>
            Companies
        </a>
    </div>

    <div id="banks-abm" class="menuBurger-container__item">
        <a href="/banks/abm" class="menuBurger-container__link">
            <i class="fa-solid fa-building-columns"></i>
            Banks
        </a>
    </div>

    <div id="users-abm" class="menuBurger-container__item">
        <a href="/users/abm" class="menuBurger-container__link">
            <i class="fa-solid fa-user"></i>
            Users
        </a>
    </div>

    <div id="users-abm" class="menuBurger-container__item">
        <a href="/login" class="menuBurger-container__link">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </a>
    </div>
</div>