<div id="modal-container" class="modal-container" style="display: none;">
    <div class="modal">
        <div id="close-modal-2" class="close-modal"><i class="fa-solid fa-xmark"></i></div>
        <div class="modal-title">
            <h2>BANKS</h2>
        </div>

        <form id="form-bank" method="post" class="form">
            <label class="" for="bankID" style="display: none;">id</label>
            <input class="form-container__input" name="bankID" id="bankID" type="text" style="display: none;" reqired>


            <div class="input-container input-container__bank">
                <label class="form__label" for="bankName">Name</label>
                <div class="iconContainer">
                    <div class="iconContainer__icon">
                        <i class="fa-solid fa-house"></i>
                    </div>

                    <input class="form-container__input" name="bankName" id="bankName" type="text" reqired>
                </div>
            </div>

            <div class="input-container input-container__bank">
                <label class="form__label" for="fontColor">Font Color</label>
                <div class="iconContainer">
                    <div class="iconContainer__icon">
                        <i class="fa-solid fa-palette"></i>
                    </div>

                    <input class="form-container__input" name="fontColor" id="fontColor" type="color" reqired>
                </div>
            </div>

            <div class="input-container input-container__bank">
                <label class="form__label" for="backgroundColor">Background Color</label>
                <div class="iconContainer">
                    <div class="iconContainer__icon">
                        <i class="fa-solid fa-palette"></i>
                    </div>

                    <input class="form-container__input" name="backgroundColor" id="backgroundColor" type="color"
                        reqired>
                </div>
            </div>
            <div class="button-save">
                <button class="button-save__button" type="submit"><i class="fa-regular fa-floppy-disk"></i>Save
                    Changes</button>
            </div>
        </form>
    </div>
</div>
</div>