<div id="modal-container-1" class="modal-container" style="display: none;">
    <div class="modal">
        <div id="close-modal-1" class="close-modal"><i class="fa-solid fa-xmark icon2"></i></div>
        <div class="modal-title">
            <h2 id="detaiCheckTitle">Detail Check</h2>
        </div>
        <div id="checksContainer" class="checksContainer">

        </div>
    </div>
</div>