.modal-contenedor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.modal {
  padding: 2rem;
  background-color: gray;
  border-radius: 4px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.iconContainer {
  display: flex;
  flex-direction: row;
}
.iconContainer__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container__input {
  width: 90%;
  border-radius: 4px;
  padding: 0.3rem;
  outline: none;
  border: none;
}
.form-container__area {
  height: 4rem;
  border-radius: 4px;
  padding: 0.3rem;
  outline: none;
  border: none;
}

.form__label {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0 0 0;
}

.buttonSave {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 0 0;
  border-radius: 4px;
}
.buttonSave__button {
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: green;
}